<nav class="nav col-12">
  <span class="navbar-text text-light pt-4 m-2">
    Użytkownik ({{ userName }})
  </span>
  <div class="nav-menu navbar col-10">
    <li *ngIf="userIsAdmin" class="nav-item" [class.active]="menuAdminIsActive">
      <a class="nav-link" href="#">Administracja</a>
    </li>
    <li class="navItem" [class.active]="menuStartIsActive">
      <a class="nav-link" routerLink="/home">Strona Główna</a>
    </li>
    <li class="navItem" [class.active]="menuNewsListIsActive">
      <a class="nav-link" routerLink="/news/list">Najnowsze wiadomości</a>
    </li>
    <li class="navItem" [class.active]="menuAddNewsIsActive">
      <a class="nav-link" routerLink="/news/add">Dodaj newsa</a>
    </li>
    <li class="navItem" [class.active]="menuLoginIsActive">
      <a class="nav-link" routerLink="/login">Zaloguj się </a>
    </li>
  </div>
</nav>
