.nav-menu {
  place-content: end;
  color: aliceblue;
}

nav {
  background-color: rgb(15, 60, 97);
}

.navItem {
  margin-right: 3%;
  padding: 1% 1% 1% 1%;
  font-size: 20px;
}

@media (max-width: 860px) {
  .row {
    display: grid;
    position: relative;
  }
}
