@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}



}

.red{
    color:red;
}

article{
    
    background-image:url("../../img/background.png");
    background-size: 100%;
    
    height :900px;
}
.header{
    font-weight: 900;
    color: rgb(70, 69, 69);
}

.header-welcome{
    padding-top: 3%;
    text-align: center;

}
.about-section{
    float:left;
}

.about-bar{
    animation-name: appear;
	animation-fill-mode: forwards;
	animation-duration: 3s;   
    border: 4px solid rgb(223, 239, 255);
    border-radius: 10px;
    margin-left: 10%;
    background-color: rgb(177, 217, 250);
    color: aliceblue;
    text-align: center;
    font-size: 25px;

}


#add-news-btn{
    margin-left: 40%;
    height:45px;
    background-color: rgb(15, 60, 97);
    color:white;
}

@media(max-width:1300px){
    article{
    background-image: unset;
    background-color: rgb(219, 219, 219);
    height:fit-content;
}}

@media(max-width:860px){
    .about-section{
        width: 100% !important;
    }
    .about-bar{
        width: 80% !important;
    }
    .navbar{
        display:none !important;
    }
    .about{
        width: 80%;
    }
}